.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  border-radius: 25%;
  border: 2px solid yellowgreen;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.cards {
  height: 300px;
  width: 200px;
  display: inline-block;
  transition: 1s;
  margin: 5px;
}

.card-hold {
  display: inline-block;
}

.team-display{
  color: black;
  text-shadow: -1px 0 yellowgreen, 0 1px yellowgreen, 1px 0 yellowgreen, 0 -1px yellowgreen;
  display: block;
  width: 20%;
  position: absolute;
}

.block {
  display: block;
  margin: 0 auto;
}

.choices {
  width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin: 0 auto;
}
